<div fxFlexFill fxLayout="column">

  <mat-toolbar color="primary">
    <button *ngIf="user" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>{{title}}</span>

    <div *ngIf="user" style="position: absolute; right: 30px">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Help</button>
        <button mat-menu-item (click)="signOut()">Sair</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
        {{user.email}}
      </button>
      <!-- gambiarra para manter o texto do usuário na tela -->
      <span style="color: transparent;">{{dots}}</span>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <!--<mat-sidenav-container fxFlex class="example-sidenav-container">-->
    <!--<mat-sidenav #snav-->
                 <!--mode="side"-->
                 <!--[mode]="mobileQuery.matches ? 'over' : 'side'"-->
                 <!--[fixedInViewport]="mobileQuery.matches"-->
                 <!--fixedTopGap="58"-->
                 <!--[style.width.px]="200"-->
                 <!--[opened]="!mobileQuery.matches && user">-->
      <!--<mat-nav-list>-->
        <!--<a href="#"-->
           <!--mat-list-item-->
           <!--[routerLink]="[option.path]"-->
           <!--*ngFor="let option of menuOptions"-->
           <!--(click)="snav.opened=!mobileQuery.matches">{{option.name}}</a>-->
      <!--</mat-nav-list>-->
    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
      <!--<router-outlet></router-outlet>-->
    <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->
</div>
