<p>
  home works!
</p>
<div *ngIf="!user"
     fxFlex fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.xs="" fxLayout.sm="column" fxLayout.xs="column">
  <app-signin></app-signin>

  <div fxLayout="row" fxLayoutAlign="center none" style="padding: 10px">
    <div fxFlex="100" fxFlex.gt-xs="400px">
      <mat-card>
        <h2>Ainda não se cadastrou?</h2>
        <p>Você pode começar seu cadastro antes mesmo de ser chamado para alguma instituição, ou se deseja criar a sua instituição.</p>
        <button mat-raised-button color="primary" (click)="goToSignup()">Faça seu cadastro</button>
      </mat-card>
    </div>
  </div>
</div>
